<div style="text-align:right">Update date: Dec 18, 2023</div><br>

# Ecommerce Optimization<br>

The data source is a SQLite transactional database that contains 5 tables with information related to the record of user interactions with the ecommerce website during the months of October 2019 to February 2020.
<br><br>

# Exploratory Data Analysis<br>

## Objetive<br>

Prepare the data coming from the ecommerce website, with the purpose to try potential CRO(Conversion Rate Optimization) actions that increase visits, conversions and average ticket, and therefore, increase the overall e-commerce turnover.
<br><br>

## The general outline of this notebook is as follows:

    1. Explore data source
    2. Perform data quality
    3. Generate analytical data mart
<br>

## Main work tools
|Package|                           Version|
|:---------------------------------|--------:|
|matplotlib                        |3.8.0 |
|numpy                             |1.25.2 |
|notebook                          |6.5.4 |
|pandas                            |2.1.1 |
|python                            |3.10.12 |
|seaborn                           |0.13.0 |
|sqlalchemy                        |1.4.39|

## Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlalchemy as sa
import holidays

%matplotlib inline
#Automplete
%config IPCompleter.greedy = True
#config Pandas
pd.options.display.float_format = '{:15.2f}'.format

print('Imported libraries')

Imported libraries

## Explore data source

Connect to datadabase

In [30]:
con = sa.create_engine('sqlite:///./data/ecommerce.db')
insp = sa.inspect(con)
insp.get_table_names()

['2019-Dec', '2019-Nov', '2019-Oct', '2020-Feb', '2020-Jan']

Import tables

In [31]:
octo = pd.read_sql('2019-Oct', con=con)
nov = pd.read_sql('2019-Nov', con=con)
dec = pd.read_sql('2019-Dec', con=con)
jan = pd.read_sql('2020-Jan', con=con)
feb = pd.read_sql('2020-Feb', con=con)

### First look

In [4]:
octo.head()

,index,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,68,2019-10-01 00:01:46 UTC,view,5843665,1487580005092295511,None,f.o.x,9.44,462033176,a18e0999-61a1-4218-8f8f-61ec1d375361
1,72,2019-10-01 00:01:55 UTC,cart,5868461,1487580013069861041,None,italwax,3.57,514753614,e2fecb2d-22d0-df2c-c661-15da44b3ccf1
2,95,2019-10-01 00:02:50 UTC,view,5877456,1487580006300255120,None,jessnail,122.22,527418424,86e77869-afbc-4dff-9aa2-6b7dd8c90770
3,122,2019-10-01 00:03:41 UTC,view,5649270,1487580013749338323,None,concept,6.19,555448072,b5f72ceb-0730-44de-a932-d16db62390df
4,124,2019-10-01 00:03:44 UTC,view,18082,1487580005411062629,None,cnd,16.03,552006247,2d8f304b-de45-4e59-8f40-50c603843fe5

In [5]:
octo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407925 entries, 0 to 407924
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   index          407925 non-null  int64
 1   event_time     407925 non-null  object
 2   event_type     407925 non-null  object
 3   product_id     407925 non-null  int64
 4   category_id    407925 non-null  int64
 5   category_code  6179 non-null    object
 6   brand          241588 non-null  object
 7   price          407925 non-null  float64
 8   user_id        407925 non-null  int64
 9   user_session   407847 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 31.1+ MB

In [6]:
nov.head()

,index,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,75,2019-11-01 00:04:51 UTC,view,5861591,1487580009143992338,None,lador,2.22,534488348,25360ead-b337-47b1-a61d-e684a8491179
1,97,2019-11-01 00:06:55 UTC,view,5747404,1487580005671109489,None,masura,6.33,554428484,64ccbe91-91f6-4671-b276-857dfa0e99aa
2,101,2019-11-01 00:07:31 UTC,view,5747406,1487580005671109489,None,masura,6.33,554428484,64ccbe91-91f6-4671-b276-857dfa0e99aa
3,126,2019-11-01 00:10:03 UTC,view,4607,1487580010796548183,None,runail,0.38,566281978,dae10616-018b-404b-ab5e-76166fb17bbe
4,139,2019-11-01 00:11:12 UTC,view,5866135,1487580008263189483,None,s.care,103.17,566282124,51d54818-54fc-49fd-bb4b-9553ea4bdc97

In [7]:
nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462833 entries, 0 to 462832
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   index          462833 non-null  int64
 1   event_time     462833 non-null  object
 2   event_type     462833 non-null  object
 3   product_id     462833 non-null  int64
 4   category_id    462833 non-null  int64
 5   category_code  7871 non-null    object
 6   brand          264848 non-null  object
 7   price          462833 non-null  float64
 8   user_id        462833 non-null  int64
 9   user_session   462746 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 35.3+ MB

In [8]:
dec.head()

,index,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,22,2019-12-01 00:01:02 UTC,view,5706778,1487580005268456287,None,beautix,14.13,564257889,a4248817-8d0d-4dac-96e6-a586563308de
1,34,2019-12-01 00:01:50 UTC,view,5795703,1487580005268456287,None,None,10.95,556579890,1d94a188-7fa5-4c52-a9fc-99abf8b4838f
2,75,2019-12-01 00:03:25 UTC,view,5771114,1487580005511725929,None,None,4.27,509636330,4e930dc6-7cf6-419f-8297-1edd6cd20890
3,90,2019-12-01 00:03:48 UTC,view,5884577,1487580006350586771,appliances.environment.vacuum,max,47.46,499259978,4ee80bbb-17cb-447d-9188-9aa306db3481
4,91,2019-12-01 00:03:49 UTC,remove_from_cart,5899853,2115334439910245200,None,None,4.46,579950721,f39acf4b-11d5-479d-84a7-04f5bc6255ce

In [9]:
dec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351304 entries, 0 to 351303
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   index          351304 non-null  int64
 1   event_time     351304 non-null  object
 2   event_type     351304 non-null  object
 3   product_id     351304 non-null  int64
 4   category_id    351304 non-null  int64
 5   category_code  5620 non-null    object
 6   brand          200474 non-null  object
 7   price          351304 non-null  float64
 8   user_id        351304 non-null  int64
 9   user_session   351205 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 26.8+ MB

In [10]:
jan.head()

,index,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,14,2020-01-01 00:01:31 UTC,view,5911252,1487580007675986893,None,dartnails,1.27,539775844,e04ed824-4857-40e4-a783-aca4001bc05b
1,20,2020-01-01 00:01:40 UTC,view,5784983,2195085255034011676,None,severina,2.06,502631750,6edb4c0e-285c-4fbc-8977-589ef6d326b8
2,24,2020-01-01 00:01:54 UTC,view,5775528,1487580008187692007,None,None,4.44,397780878,7e8a2b85-153a-44eb-a71f-b748fde14fcc
3,28,2020-01-01 00:02:31 UTC,view,5775987,1783999063314661546,None,None,3.97,397780878,7e8a2b85-153a-44eb-a71f-b748fde14fcc
4,31,2020-01-01 00:02:55 UTC,view,5622680,2195085255034011676,None,severina,2.21,502631750,6edb4c0e-285c-4fbc-8977-589ef6d326b8

In [11]:
jan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443224 entries, 0 to 443223
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   index          443224 non-null  int64
 1   event_time     443224 non-null  object
 2   event_type     443224 non-null  object
 3   product_id     443224 non-null  int64
 4   category_id    443224 non-null  int64
 5   category_code  7354 non-null    object
 6   brand          261678 non-null  object
 7   price          443224 non-null  float64
 8   user_id        443224 non-null  int64
 9   user_session   443069 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 33.8+ MB

In [12]:
feb.head()

,index,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,34,2020-02-01 00:01:43 UTC,view,5649305,1487580010335174721,None,concept,6.03,601680868,e896bd6d-804f-4664-9825-7a577116e427
1,36,2020-02-01 00:01:44 UTC,view,5759491,1487580013011140782,None,italwax,1.94,608822417,fe286f43-52f4-4b14-bda9-4accaa2b0a40
2,49,2020-02-01 00:02:51 UTC,view,5937,2196456817758831535,None,runail,5.48,608822554,91d3f050-845d-46f8-82ab-d865105d447d
3,62,2020-02-01 00:04:03 UTC,view,5685387,1487580012172279951,None,farmona,26.32,554962001,eb8923d0-51bf-4d9a-8477-1435e3bb0d08
4,64,2020-02-01 00:04:25 UTC,view,5685361,1487580012096782476,None,farmona,27.00,554962001,eb8923d0-51bf-4d9a-8477-1435e3bb0d08

In [13]:
feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429790 entries, 0 to 429789
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   index          429790 non-null  int64
 1   event_time     429790 non-null  object
 2   event_type     429790 non-null  object
 3   product_id     429790 non-null  int64
 4   category_id    429790 non-null  int64
 5   category_code  7641 non-null    object
 6   brand          234842 non-null  object
 7   price          429790 non-null  float64
 8   user_id        429790 non-null  int64
 9   user_session   429703 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 32.8+ MB

Integrate data

In [14]:
octo.shape[0] + nov.shape[0] + dec.shape[0] + jan.shape[0] + feb.shape[0]

2095076

In [32]:
df =  pd.concat([octo, nov, dec, jan, feb], axis=0)
df

,index,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,68,2019-10-01 00:01:46 UTC,view,5843665,1487580005092295511,None,f.o.x,9.44,462033176,a18e0999-61a1-4218-8f8f-61ec1d375361
1,72,2019-10-01 00:01:55 UTC,cart,5868461,1487580013069861041,None,italwax,3.57,514753614,e2fecb2d-22d0-df2c-c661-15da44b3ccf1
2,95,2019-10-01 00:02:50 UTC,view,5877456,1487580006300255120,None,jessnail,122.22,527418424,86e77869-afbc-4dff-9aa2-6b7dd8c90770
3,122,2019-10-01 00:03:41 UTC,view,5649270,1487580013749338323,None,concept,6.19,555448072,b5f72ceb-0730-44de-a932-d16db62390df
4,124,2019-10-01 00:03:44 UTC,view,18082,1487580005411062629,None,cnd,16.03,552006247,2d8f304b-de45-4e59-8f40-50c603843fe5
...,...,...,...,...,...,...,...,...,...,...
429785,4156660,2020-02-29 23:58:49 UTC,cart,5815662,1487580006317032337,None,None,0.92,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
429786,4156663,2020-02-29 23:58:57 UTC,view,5815665,1487580006317032337,None,None,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
429787,4156668,2020-02-29 23:59:05 UTC,cart,5815665,1487580006317032337,None,None,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
429788,4156675,2020-02-29 23:59:28 UTC,view,5817692,1487580010872045658,None,None,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d
429789,4156680,2020-02-29 23:59:54 UTC,view,5716351,1487580010872045658,None,irisk,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d

## Perform data quality

### Variables and types

In [16]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 2095076 entries, 0 to 429789
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   index          int64
 1   event_time     object
 2   event_type     object
 3   product_id     int64
 4   category_id    int64
 5   category_code  object
 6   brand          object
 7   price          float64
 8   user_id        int64
 9   user_session   object
dtypes: float64(1), int64(4), object(5)
memory usage: 711.6 MB

Select columns

In [33]:
df = df.iloc[:, 1:10]

Transforme the object data type of the event_time column to datetime

In [34]:
def convert_datetime(dt, format_string):
    
    def split_date(date_string):
        split_date = date_string.split()
        date = split_date[0]
        time = split_date[1]
        join_date = date + ' ' + time
        return join_date

    result = pd.to_datetime(dt.apply(lambda x: split_date(x)),
                            format = format_string)

    return result

In [36]:
format_string = '%Y-%m-%d %H:%M:%S'
df['event_time'] = convert_datetime(df.event_time, format_string)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2095076 entries, 0 to 429789
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     datetime64[ns]
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
 8   user_session   object
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 159.8+ MB

### Check null values

In [37]:
df.isnull().sum().sort_values(ascending=False)

category_code    2060411
brand             891646
user_session         506
event_time             0
event_type             0
product_id             0
category_id            0
price                  0
user_id                0
dtype: int64

Conclusions:

* category_code: most records are null
* brand: almost half of the records are null
* user_session: There are 506 null records

Actions:

* eliminate variables category_code and brand
* eliminate the null records of user_session, since it is a relevant variable

In [38]:
df = df.drop(columns=['category_code', 'brand']).dropna()
df

,event_time,event_type,product_id,category_id,price,user_id,user_session
0,2019-10-01 00:01:46,view,5843665,1487580005092295511,9.44,462033176,a18e0999-61a1-4218-8f8f-61ec1d375361
1,2019-10-01 00:01:55,cart,5868461,1487580013069861041,3.57,514753614,e2fecb2d-22d0-df2c-c661-15da44b3ccf1
2,2019-10-01 00:02:50,view,5877456,1487580006300255120,122.22,527418424,86e77869-afbc-4dff-9aa2-6b7dd8c90770
3,2019-10-01 00:03:41,view,5649270,1487580013749338323,6.19,555448072,b5f72ceb-0730-44de-a932-d16db62390df
4,2019-10-01 00:03:44,view,18082,1487580005411062629,16.03,552006247,2d8f304b-de45-4e59-8f40-50c603843fe5
...,...,...,...,...,...,...,...
429785,2020-02-29 23:58:49,cart,5815662,1487580006317032337,0.92,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
429786,2020-02-29 23:58:57,view,5815665,1487580006317032337,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
429787,2020-02-29 23:59:05,cart,5815665,1487580006317032337,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
429788,2020-02-29 23:59:28,view,5817692,1487580010872045658,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d
429789,2020-02-29 23:59:54,view,5716351,1487580010872045658,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d

### Check for duplicate values

In [39]:
df.duplicated().sum()

122025

In [40]:
2094570 - 122025

1972545

In [41]:
df = df.drop_duplicates(keep='last')
df

,event_time,event_type,product_id,category_id,price,user_id,user_session
0,2019-10-01 00:01:46,view,5843665,1487580005092295511,9.44,462033176,a18e0999-61a1-4218-8f8f-61ec1d375361
1,2019-10-01 00:01:55,cart,5868461,1487580013069861041,3.57,514753614,e2fecb2d-22d0-df2c-c661-15da44b3ccf1
2,2019-10-01 00:02:50,view,5877456,1487580006300255120,122.22,527418424,86e77869-afbc-4dff-9aa2-6b7dd8c90770
3,2019-10-01 00:03:41,view,5649270,1487580013749338323,6.19,555448072,b5f72ceb-0730-44de-a932-d16db62390df
4,2019-10-01 00:03:44,view,18082,1487580005411062629,16.03,552006247,2d8f304b-de45-4e59-8f40-50c603843fe5
...,...,...,...,...,...,...,...
429785,2020-02-29 23:58:49,cart,5815662,1487580006317032337,0.92,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
429786,2020-02-29 23:58:57,view,5815665,1487580006317032337,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
429787,2020-02-29 23:59:05,cart,5815665,1487580006317032337,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
429788,2020-02-29 23:59:28,view,5817692,1487580010872045658,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d
429789,2020-02-29 23:59:54,view,5716351,1487580010872045658,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d

### Analysis of numerical variables

In [42]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
event_time,1972545,2019-12-16 16:05:22.352272896,2019-10-01 00:01:46,2019-11-08 16:12:36,2019-12-13 20:34:26,2020-01-25 18:09:05,2020-02-29 23:59:54,NaN
product_id,1972545.00,5483840.39,3752.00,5724656.00,5811665.00,5858487.00,5932595.00,1307621.06
category_id,1972545.00,1553604680264902912.00,1487580004807082752.00,1487580005754995456.00,1487580008263189504.00,1487580013506068736.00,2242903426784559104.00,168548008790616896.00
price,1972545.00,8.66,-47.62,2.06,4.11,7.14,327.78,19.56
user_id,1972545.00,521982029.31,4661182.00,482679598.00,554155449.00,579563545.00,622087993.00,87876998.00

There are negative values in the price variable

In [48]:
df[df.price <= 0]

,event_time,event_type,product_id,category_id,price,user_id,user_session
343,2019-10-01 02:15:41+00:00,view,5892052,1487580010377117763,0.00,555455025,320f6021-30ac-4a58-ae17-bac1cc32aac3
924,2019-10-01 05:16:30+00:00,view,5889621,1487580010561667147,0.00,523988665,00849bd2-fcd2-4cb4-af31-4e264f151848
933,2019-10-01 05:18:03+00:00,view,5889622,1487580010561667147,0.00,523988665,80cfe614-f0a5-4101-a2b6-a21227590470
937,2019-10-01 05:18:46+00:00,view,5889623,1487580010561667147,0.00,523988665,c2cd0464-3d2b-48e2-9667-bac248fe297a
1077,2019-10-01 05:38:01+00:00,view,5889627,1487580010561667147,0.00,523988665,8b2bf9d8-43f0-43b2-bed3-13b2c956cada
...,...,...,...,...,...,...,...
428011,2020-02-29 20:04:49+00:00,cart,5824841,1897124478404526487,0.00,469761446,8bf369b4-92c0-4fb8-88a5-8a2dd0947e46
428012,2020-02-29 20:04:49+00:00,cart,5826413,1487580005511725929,0.00,469761446,8bf369b4-92c0-4fb8-88a5-8a2dd0947e46
428013,2020-02-29 20:04:49+00:00,cart,5832437,1487580007675986893,0.00,469761446,8bf369b4-92c0-4fb8-88a5-8a2dd0947e46
428014,2020-02-29 20:04:49+00:00,cart,5851606,2055161088059638328,0.00,469761446,8bf369b4-92c0-4fb8-88a5-8a2dd0947e46
428370,2020-02-29 20:26:16+00:00,view,5923106,1487580008246412266,0.00,622047714,74f04dc6-2b3c-4565-beda-f575d73ed81c

Check if the negative values are concentrated in any product

In [50]:
df[df.price <= 0].product_id.value_counts()

product_id
5896186    79
5903915    50
5873428    37
5899512    26
5907812    26
           ..
5862257     1
5860196     1
5860195     1
5859332     1
5832437     1
Name: count, Length: 7049, dtype: int64

In [51]:
df[(df.price <= 0)].event_type.value_counts()

event_type
cart                6868
view                4331
remove_from_cart    3578
purchase              11
Name: count, dtype: int64

It doesn't seem like it's a product-specific problem, so delete the negative values

In [43]:
n = df.shape[0] - df[df.price <= 0].shape[0]
df = df[df.price > 0]
assert(df.shape[0] == n), 'Error deleting records'
df

,event_time,event_type,product_id,category_id,price,user_id,user_session
0,2019-10-01 00:01:46,view,5843665,1487580005092295511,9.44,462033176,a18e0999-61a1-4218-8f8f-61ec1d375361
1,2019-10-01 00:01:55,cart,5868461,1487580013069861041,3.57,514753614,e2fecb2d-22d0-df2c-c661-15da44b3ccf1
2,2019-10-01 00:02:50,view,5877456,1487580006300255120,122.22,527418424,86e77869-afbc-4dff-9aa2-6b7dd8c90770
3,2019-10-01 00:03:41,view,5649270,1487580013749338323,6.19,555448072,b5f72ceb-0730-44de-a932-d16db62390df
4,2019-10-01 00:03:44,view,18082,1487580005411062629,16.03,552006247,2d8f304b-de45-4e59-8f40-50c603843fe5
...,...,...,...,...,...,...,...
429785,2020-02-29 23:58:49,cart,5815662,1487580006317032337,0.92,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
429786,2020-02-29 23:58:57,view,5815665,1487580006317032337,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
429787,2020-02-29 23:59:05,cart,5815665,1487580006317032337,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
429788,2020-02-29 23:59:28,view,5817692,1487580010872045658,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d
429789,2020-02-29 23:59:54,view,5716351,1487580010872045658,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d

### Analysis of categorical variables

In [55]:
df.event_type.value_counts()

event_type
view                961431
cart                564868
remove_from_cart    303983
purchase            127475
Name: count, dtype: int64

In [56]:
df.product_id.nunique()

45327

In [57]:
df.category_id.nunique()

508

### Set event_time variable as index

In [44]:
df.set_index('event_time', inplace=True)

### Transform data

Generate variables

In [45]:
def get_components_date(dataframe):
    """Get the components of a date type variable from the
       index of a dataframe.
    """
    date = dataframe.index.date
    year = dataframe.index.year
    month = dataframe.index.month
    day = dataframe.index.day
    hour = dataframe.index.hour
    minute = dataframe.index.minute
    second = dataframe.index.second
    components_date = {'date': date,'year': year,'month': month, 'day': day, 'hour': hour,
                       'minute': minute, 'second':second}
    return (pd.DataFrame(data=components_date))

In [46]:
df  = pd.concat([df.reset_index(), get_components_date(df)], axis='columns')\
    .set_index('event_time')
df

,event_type,product_id,category_id,price,user_id,user_session,date,year,month,day,hour,minute,second
event_time,,,,,,,,,,,,,
2019-10-01 00:01:46,view,5843665,1487580005092295511,9.44,462033176,a18e0999-61a1-4218-8f8f-61ec1d375361,2019-10-01,2019,10,1,0,1,46
2019-10-01 00:01:55,cart,5868461,1487580013069861041,3.57,514753614,e2fecb2d-22d0-df2c-c661-15da44b3ccf1,2019-10-01,2019,10,1,0,1,55
2019-10-01 00:02:50,view,5877456,1487580006300255120,122.22,527418424,86e77869-afbc-4dff-9aa2-6b7dd8c90770,2019-10-01,2019,10,1,0,2,50
2019-10-01 00:03:41,view,5649270,1487580013749338323,6.19,555448072,b5f72ceb-0730-44de-a932-d16db62390df,2019-10-01,2019,10,1,0,3,41
2019-10-01 00:03:44,view,18082,1487580005411062629,16.03,552006247,2d8f304b-de45-4e59-8f40-50c603843fe5,2019-10-01,2019,10,1,0,3,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-29 23:58:49,cart,5815662,1487580006317032337,0.92,147995998,5ff96629-3627-493e-a25b-5a871ec78c90,2020-02-29,2020,2,29,23,58,49
2020-02-29 23:58:57,view,5815665,1487580006317032337,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90,2020-02-29,2020,2,29,23,58,57
2020-02-29 23:59:05,cart,5815665,1487580006317032337,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90,2020-02-29,2020,2,29,23,59,5
2020-02-29 23:59:28,view,5817692,1487580010872045658,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d,2020-02-29,2020,2,29,23,59,28
2020-02-29 23:59:54,view,5716351,1487580010872045658,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d,2020-02-29,2020,2,29,23,59,54

Calendar variables: holiday

In [15]:
df.year.unique()

array([2019, 2020], dtype=int32)

Define the object festives_ru, since, this ecommerce is Russian.

In [47]:
festives_ru = holidays.RU([2019,2020])
for date, desc in festives_ru.items():
    print(date, desc)

2019-01-01 New Year Holidays
2019-01-02 New Year Holidays
2019-01-03 New Year Holidays
2019-01-04 New Year Holidays
2019-01-05 New Year Holidays
2019-01-06 New Year Holidays
2019-01-08 New Year Holidays
2019-01-07 Christmas Day
2019-02-23 Fatherland Defender's Day
2019-03-08 International Women's Day
2019-05-01 Holiday of Spring and Labor
2019-05-09 Victory Day
2019-06-12 Russia Day
2019-11-04 Unity Day
2020-01-01 New Year Holidays
2020-01-02 New Year Holidays
2020-01-03 New Year Holidays
2020-01-04 New Year Holidays
2020-01-05 New Year Holidays
2020-01-06 New Year Holidays
2020-01-08 New Year Holidays
2020-01-07 Christmas Day
2020-02-23 Fatherland Defender's Day
2020-03-08 International Women's Day
2020-05-01 Holiday of Spring and Labor
2020-05-09 Victory Day
2020-06-12 Russia Day
2020-11-04 Unity Day

In [48]:
df['festive'] = df.date.apply(lambda x: 1 if (x in festives_ru) else 0)
df

,event_type,product_id,category_id,price,user_id,user_session,date,year,month,day,hour,minute,second,festive
event_time,,,,,,,,,,,,,,
2019-10-01 00:01:46,view,5843665,1487580005092295511,9.44,462033176,a18e0999-61a1-4218-8f8f-61ec1d375361,2019-10-01,2019,10,1,0,1,46,0
2019-10-01 00:01:55,cart,5868461,1487580013069861041,3.57,514753614,e2fecb2d-22d0-df2c-c661-15da44b3ccf1,2019-10-01,2019,10,1,0,1,55,0
2019-10-01 00:02:50,view,5877456,1487580006300255120,122.22,527418424,86e77869-afbc-4dff-9aa2-6b7dd8c90770,2019-10-01,2019,10,1,0,2,50,0
2019-10-01 00:03:41,view,5649270,1487580013749338323,6.19,555448072,b5f72ceb-0730-44de-a932-d16db62390df,2019-10-01,2019,10,1,0,3,41,0
2019-10-01 00:03:44,view,18082,1487580005411062629,16.03,552006247,2d8f304b-de45-4e59-8f40-50c603843fe5,2019-10-01,2019,10,1,0,3,44,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-29 23:58:49,cart,5815662,1487580006317032337,0.92,147995998,5ff96629-3627-493e-a25b-5a871ec78c90,2020-02-29,2020,2,29,23,58,49,0
2020-02-29 23:58:57,view,5815665,1487580006317032337,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90,2020-02-29,2020,2,29,23,58,57,0
2020-02-29 23:59:05,cart,5815665,1487580006317032337,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90,2020-02-29,2020,2,29,23,59,5,0
2020-02-29 23:59:28,view,5817692,1487580010872045658,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d,2020-02-29,2020,2,29,23,59,28,0
2020-02-29 23:59:54,view,5716351,1487580010872045658,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d,2020-02-29,2020,2,29,23,59,54,0

Check holidays on df

In [49]:
df[df.festive == 1].date.value_counts().sort_index()

date
2019-11-04    14836
2020-01-01     7145
2020-01-02    10242
2020-01-03    10062
2020-01-04    12172
2020-01-05    13318
2020-01-06    10024
2020-01-07    12168
2020-01-08    13282
2020-02-23     9355
Name: count, dtype: int64

#### Exogenous indicators

Add indicators for Black Friday and Valentine's Day

In [50]:
df['black_friday'] = 0
df.loc['2019-11-29','black_friday'] = 1
df['valentin_day'] = 0
df.loc['2020-02-14', 'valentin_day'] = 1

Validate exogenous indicators

In [20]:
df.black_friday.value_counts()

black_friday
0    1936517
1      21240
Name: count, dtype: int64

In [69]:
df.valentin_day.value_counts()

valentin_day
0    1946193
1      11564
Name: count, dtype: int64

## Generate analytical data mart

In [70]:
df.head()

,event_type,product_id,category_id,price,user_id,user_session,date,year,month,day,hour,minute,second,festive,black_friday,valentin_day
event_time,,,,,,,,,,,,,,,,
2019-10-01 00:01:46+00:00,view,5843665,1487580005092295511,9.44,462033176,a18e0999-61a1-4218-8f8f-61ec1d375361,2019-10-01,2019,10,1,0,1,46,0,0,0
2019-10-01 00:01:55+00:00,cart,5868461,1487580013069861041,3.57,514753614,e2fecb2d-22d0-df2c-c661-15da44b3ccf1,2019-10-01,2019,10,1,0,1,55,0,0,0
2019-10-01 00:02:50+00:00,view,5877456,1487580006300255120,122.22,527418424,86e77869-afbc-4dff-9aa2-6b7dd8c90770,2019-10-01,2019,10,1,0,2,50,0,0,0
2019-10-01 00:03:41+00:00,view,5649270,1487580013749338323,6.19,555448072,b5f72ceb-0730-44de-a932-d16db62390df,2019-10-01,2019,10,1,0,3,41,0,0,0
2019-10-01 00:03:44+00:00,view,18082,1487580005411062629,16.03,552006247,2d8f304b-de45-4e59-8f40-50c603843fe5,2019-10-01,2019,10,1,0,3,44,0,0,0

In [51]:
variables = df.columns.to_list()
variables

['event_type',
 'product_id',
 'category_id',
 'price',
 'user_id',
 'user_session',
 'date',
 'year',
 'month',
 'day',
 'hour',
 'minute',
 'second',
 'festive',
 'black_friday',
 'valentin_day']

In [52]:
sort_variables = [
    'user_id',
    'user_session',
    'category_id',
    'event_type',
    'product_id',
    'price',
]

In [53]:
var_diff = [var for var in variables if var not in sort_variables]

In [54]:
df  = df[sort_variables + var_diff]
df

,user_id,user_session,category_id,event_type,product_id,price,date,year,month,day,hour,minute,second,festive,black_friday,valentin_day
event_time,,,,,,,,,,,,,,,,
2019-10-01 00:01:46,462033176,a18e0999-61a1-4218-8f8f-61ec1d375361,1487580005092295511,view,5843665,9.44,2019-10-01,2019,10,1,0,1,46,0,0,0
2019-10-01 00:01:55,514753614,e2fecb2d-22d0-df2c-c661-15da44b3ccf1,1487580013069861041,cart,5868461,3.57,2019-10-01,2019,10,1,0,1,55,0,0,0
2019-10-01 00:02:50,527418424,86e77869-afbc-4dff-9aa2-6b7dd8c90770,1487580006300255120,view,5877456,122.22,2019-10-01,2019,10,1,0,2,50,0,0,0
2019-10-01 00:03:41,555448072,b5f72ceb-0730-44de-a932-d16db62390df,1487580013749338323,view,5649270,6.19,2019-10-01,2019,10,1,0,3,41,0,0,0
2019-10-01 00:03:44,552006247,2d8f304b-de45-4e59-8f40-50c603843fe5,1487580005411062629,view,18082,16.03,2019-10-01,2019,10,1,0,3,44,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-29 23:58:49,147995998,5ff96629-3627-493e-a25b-5a871ec78c90,1487580006317032337,cart,5815662,0.92,2020-02-29,2020,2,29,23,58,49,0,0,0
2020-02-29 23:58:57,147995998,5ff96629-3627-493e-a25b-5a871ec78c90,1487580006317032337,view,5815665,0.59,2020-02-29,2020,2,29,23,58,57,0,0,0
2020-02-29 23:59:05,147995998,5ff96629-3627-493e-a25b-5a871ec78c90,1487580006317032337,cart,5815665,0.59,2020-02-29,2020,2,29,23,59,5,0,0,0
2020-02-29 23:59:28,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d,1487580010872045658,view,5817692,0.79,2020-02-29,2020,2,29,23,59,28,0,0,0
2020-02-29 23:59:54,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d,1487580010872045658,view,5716351,0.79,2020-02-29,2020,2,29,23,59,54,0,0,0

Save datamart in pickle format

In [55]:
df.to_pickle('./data/datamart.pickle')